body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #d8cccc;
    margin: 50px;
}

.container{
    background-color: #fefefe;
    padding: 20px;
    max-width: 350px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button{
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 87%;
    border-radius: 5px;
    font-size: 16px;
}

button:hover{
    background: #0056b3;
}

#resultado{
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}